html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

header {
	background-color: blue;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h1, h2, h3, h4, h5 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}

div {
	width: 40%;
	height: 450px;
	margin-bottom: 20px;
}

#first {
	background-color: pink;
	float: left;
	width: 65%;
}

#second {
	background-color: green;
	float: right;
	width: 30%;
}

footer {
	background-color: red;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}